body {
  margin: 0;
  background: rgb(38, 43, 68);
  color: rgb(250, 250, 250);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("../img/background.jpg");
  background-position: right;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  height: 100vh;
  padding: 0 80px;
}

/* header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
} */

.logo {
  border: 1px solid rgba(250, 250, 250, 0.7);
  height: 20px;
  position: absolute;
  left: 80px;
  top: 25px;
  padding: 10px;
  width: 160px;
  text-align: center;
  /* opacity: .95; */
}

.logo img {
  height: 70%;
}

.logo span {
  padding-left: 5px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
}

.item a {
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 20px;
  opacity: 0.8;
}

/* .item a:focus {
  transition: 0.2s all ease-in-out;
  transform: scale(2);
  outline: none;
  box-shadow: none;
} */

.home {
  border-bottom: 1px solid rgb(250, 250, 250);
}

.btn {
  transition: 0.2s all ease-in-out;
  text-transform: uppercase;
  border-radius: 35px;
  line-height: 40px;
  border: none;
  padding: 0 30px;
  background: none;
  cursor: pointer;
}
.btn:focus {
  transform: scale(1.1);
  outline: none;
  box-shadow: none;
}
.btn-shadow {
  border: 1px solid rgb(199, 217, 255);
  color: rgb(199, 217, 255);
}
.btn-primary {
  color: rgb(250, 250, 250);
  border: 1px solid rgb(38, 43, 68);
  background: rgb(38, 43, 68);
  margin-right: 20px;
}

.app-footer {
  position: absolute;
  bottom: 15px;
  right: 15px;
  opacity: 0.5;
}